<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.ehb.gdt.jrivia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JriviaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jrivia"
        tools:targetApi="31">
        <activity
            android:name=".activities.DailyQuestDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.DailyQuestsActivity" />
        <activity
            android:name=".activities.DailyQuestsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />

        <receiver
            android:name=".widgets.DailyQuestWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.widget.provider"
                android:resource="@layout/widget_daily_quest" />

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_quest_widget_info" />
        </receiver>

        <service
            android:name=".services.DailyQuestFetchService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.ScoreBoardActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.QuestionsOverviewActivity"
            android:exported="false"
            android:parentActivityName=".activities.GameOverviewActivity" />
        <activity
            android:name=".activities.GameOverviewActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.GameLoadingActivity" />
        <activity
            android:name=".activities.GameActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Jrivia.NoActionBar" />
        <activity
            android:name=".activities.GameLoadingActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>